extends layout

block content

    .w3l_agileits_breadcrumbs
        .w3l_agileits_breadcrumbs_inner
            ul
                li
                    a(href='/')
                        span Home 
                    span &laquo; 
                    li Bài viết đã xóa 
    // //breadcrumbs
    .inner_content_w3_agile_info.two_in
        // tables
        .agile-tables.col-md-12 
            .w3l-table-info.agile_info_shadow(id="viewTable")
                include tableRow
        .clearfix
        // //social_media
        // //inner_content_w3_agile_info
        // //inner_content        